<ion-header>
  <ion-toolbar color="tertiary" class="toolbar-with-margins">
    <ion-title class="center-title">
      JULIAN ANDRES RINCON GIL
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-button" routerLink="/login">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: lightgray;">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="block block-1" style="margin-top: 1px">
          <img src="assets/julian.jpg" alt="Imagen de encabezado" style="border-radius: 2px; box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);">
        </div>
      </ion-col>
    </ion-row>
    <br>

    <ion-row>
      <ion-col>
        <div class="block">
          <ion-toolbar class="block-toolbar">
            <p style="font-size: 18px; color: rgb(7, 50, 244); font-weight: bold;">PERFIL</p>
          </ion-toolbar>
          <div class="block-content">
            <br>
            <p style="text-align: justify; margin-left: 400px; margin-right: 400px;">
              Persona responsable, dinámica y creativa,
              con facilidad de adaptación y capacidad
              para trabajar en equipo, en condiciones
              de alta presión, con iniciativa para la
              solución de problemas y proyectado a el
              cumplimiento de objetivos.
                          </p>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="block" style="margin-top: 30px;">
            <ion-toolbar class="block-toolbar">
              <p style="font-size: 18px; color: rgb(42, 87, 249); font-weight: bold;">DATOS PERSONALES</p>
            </ion-toolbar>
    
            <table style="margin-top: 20px;">
              <tr>
                <td style="text-align: left; width: 300px;">Nombre:</td>
                <td style="text-align: left">
                  Julian Andres Rincon Gil
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Documento de Identidad:</td>
                <td style="text-align: left">
                  1.015.469.621
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Fecha de Nacimiento:</td>
                <td style="text-align: left">
                  28 de junio de 1997
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Lugar de Nacimiento:</td>
                <td style="text-align: left">
                  Bogotá 
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Dirección:</td>
                <td style="text-align: left">
                  Cra 95 A # 26 38 Sur / Conjunto Gerona del Porvenir
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Teléfono:</td>
                <td style="text-align: left">
                  3007107235
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Email:</td>
                <td style="text-align: left">
                  <span style="text-decoration: underline; color: #3a8554;">julian.rincon970628@gmail.com</span>
                </td>
              </tr>
            </table>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="block" style="margin-top: 30px;">
            <ion-toolbar class="block-toolbar">
              <p style="font-size: 18px; color: rgb(60, 63, 244); font-weight: bold;">Formación Académica</p>
            </ion-toolbar>
            <table style="margin-top: 20px;">
              <tr>
                <td style="text-align: left; width: 250px;">Universitarios:</td>
                <td style="text-align: left;">
                  Servicio Nacional de Aprendizaje (SENA)<br>
                  Análisis y Desarrollo de Software<br>
                  En curso
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Universitarios:</td>
                <td style="text-align: left;">
                  Servicio Nacional de Aprendizaje (SENA)<br>
                  Tecnologo Gestion Empresarial<br>
                  2017 al 2020
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Universitarios:</td>
                <td style="text-align: left;">
                  Servicio Nacional de Aprendizaje (SENA)<br>
                  Tecnico Recursos Humanos<br>
                  2015 al 2016
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Estudios Secundarios:</td>
                <td style="text-align: left">
                  I.E.D Tomas Carrasquilla<br>
                  Sede: A-Bachillerato<br>
                  2007-2014
                </td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left">Estudios Primarios:</td>
                <td style="text-align: left">
                  I.E.D Panama<br>
                  Sede: B-Primaria<br>
                  2002-2007
                </td>
              </tr>
            </table>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-content class="container">
      <div class="center-content">
        <ion-button>Multimedia</ion-button>
        <div class="image-galeria">
          <img src="assets\dbz1.jpg" class="rounded" alt="dbz1" width="500" height="300">
          <img src="assets\dbz2.jpg" class="rounded" alt="dbz2" width="500" height="300">
          <img src="assets\dbz3.jpg" class="rounded" alt="dbz3" width="500" height="300">
          <img src="assets\dbz4.jpg" class="rounded" alt="dbz4" width="500" height="300">
          <img src="assets\dbz5.jpg" class="rounded" alt="dbz5" width="500" height="300">
        
        </div>  
        <ion-button>Video</ion-button>
      </div>
    </ion-content>

  
    
    

    
  </ion-grid>
</ion-content>
